extends layout.pug

block title
    title= "Change password"

block content
    form(action= "/changePassword" id= "change-password" method= "POST")
        label(for= "old-password")= "Old password"
        input(type= "password" name= "old-password" id= "old-password" placeholder= "Old password" required)
        label(for= "new-password-1")= "New password"
        input(type= "password" name= "new-password-1" id= "new-password-1" placeholder= "New password" required)
        label(for= "new-password-2")= "Repeat new password"
        input(type= "password" name= "new-password-2" id= "new-password-2" placeholder= "New password" required)
        input(type='hidden' name='_csrf' value= csrfToken)
        button(type= "submit")= "Change password"