extends layout

block title
    title= "Quizzes"

block content
    h1= "Choose a quiz to solve"

    ul
        each quizId in quizzesId
            li
                a(href= "quiz" + quizId)= "Quiz " + quizId