doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        block title
        style
            include stylesheets/main.css

    body
        header
            a(href= "/")= "Main page"
            if isLogged
                a(href = "results")= "Results"
                a(href= "logout")= "Log out"
                a(href= "changePassword")= "Change password"
            else
                a(href= "login")= "Login"

        block content