extends layout.pug

block title
    title= "Logging"

block content
    form(action= "/login" id= "login" method= "POST")
        label(for= "username")= "Username"
        input(type= "text" name= "username" id= "username" placeholder= "Username" required)
        label(for= "password")= "Password"
        input(type= "password" name= "password" id= "password" placeholder= "Password" required)
        input(type='hidden' name='_csrf' value= csrfToken)
        button(type= "submit")= "Log in"