doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name='csrf-token', content= csrfToken)
        script(type="module" src="/quiz.js")
        style
            include stylesheets/quiz.css
        title= "Quiz " + quizId

    body
        header
            div(id= "timer")
            div(id= "header-buttons")
                button(id= "cancel-button")= "Cancel"
                button(id= "end-button")= "End quiz"
        div(id= "introduction")
            p= "Click 'Start quiz' to begin."
            p= "Use 'Previous'/'Next' buttons to change question."
            p= "When you answers on all questions click 'Submit'."
            p= "Bad answer means penalty."
            p= "Your result = time + penalties."
        div(id= "start")
            button(id= "start-button")= "Start quiz"
        div(id= "quiz")
            div(id= "question")
            form(id= "response")
                input(id= "answer" type= "number" placeholder= "Your answer")
        div(id= "navigation-buttons")
            button(class= "n-button" id= "previous-button")= "Previous"
            button(class= "n-button" id= "submit-button")= "Submit"
            button(class= "n-button" id= "next-button")= "Next"
