extends layout

block title
    title= "QUIZ "+ id + " - Result"

block content
    h1= "QUIZ " + id

    h2= "Your result"
    table
        tr
            th= "Nr"
            th= "Correct answer"
            th= "Is your answer correct"
        each question, index in questions
            tr
                td= index+1
                td= question.answer
                if question.isCorrect
                    td= "Yes"
                else
                    td= "No"

    h2= "Top 5"
    table
        tr
            th= "Nr"
            th= "Username"
            th= "Result"
        each res, index in top
            tr
                td= index+1
                td= res.username
                td= res.result

    h2= "Average times"
    table
        tr
            th= "Nr"
            th= "Average time"
        each avg, index in average
            tr
                td= index+1
                td= avg + "sec"