extends layout

block title
    title= "Results"

block content
    h1= "Choose a quiz to see the results"

    ul
        each quizId in quizzesId
            li
                a(href= "result" + quizId)= "Quiz " + quizId