body {
    font-family: serif;
    text-align: center;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.5fr 2fr 2fr 4vh;
}

h1 h2 {
    font-size: x-large;
}

header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: rgb(204, 118, 86);
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto;
}

ul {
    text-align: left;
    list-style: none;
    padding-left: 0;
}

li {
    padding: 3px 15px;
}

#title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cancel-button {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#manual {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: rgb(79, 156, 160);
}

#manual ul {
    margin-left: 3ex;
    margin-right: 3ex;
}

#manual li:nth-child(even) {
    background-color: rgb(18, 185, 193);
}

#manual li:nth-child(odd) {
    background-color: rgb(40, 220, 199);
}

#best-result {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background-color: rgb(79, 156, 160);
}

#manual h2, #best-result h2 {
    background-color: lightcyan;
}

#beginning, #quiz, #end {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    background-color: rgb(250, 225, 129);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#start-button {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

#question {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#form {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

#time {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    align-items: start;
    justify-content: center;
}

#results {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}

#results h2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 1ex;
}

#results-div {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: auto;
}

#results li:nth-child(even) {
    background-color: rgb(255, 219, 79);
}

#results li:nth-child(odd) {
    background-color: rgb(241, 162, 68);
}

#navigation, #save {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 2fr;
}

#question-number, #save-question {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#navigation-buttons, #save-options {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

footer {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    background-color: rgb(146, 120, 111);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1200px) {
    body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 25vh 0 auto 4vh;
    }

    header {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    #title {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin: 0;
        padding: 2vh;
    }

    #cancel-button {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding-bottom: 2vh;
    }

    #manual {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #best-result {
        display: none;
    }

    #beginning, #quiz, #end {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        display: grid;
        grid-template-columns: 1fr 20fr 1fr;
        grid-template-rows: auto auto auto auto;
    }

    #start-button {
        min-height: 30vh;
        margin: 5vh;
    }

    #quiz {
        grid-template-rows: 30% auto auto auto;
    }

    #navigation, #save{
        grid-template-rows: auto auto;
    }

    #navigation-buttons {
        margin-bottom: 2vh;
    }

    #navigation-buttons, #save-options {
        justify-content: space-evenly;
    }

    #results {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    #results h2 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #results-div {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    footer {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
}
