body {
    background-color: greenyellow;
    text-align: center;
    font-family: serif;
    margin: 0;
    padding: 2vh;
}

header {
    background-color: gold;
}

h1 {
    color: royalblue;
}

h2 {
    color: dodgerblue;
}

a {
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: darkblue;
}

header a {
    padding: 10px;
    display: inline-block;

}

input, button, label {
    display: block;
    margin: 1vh auto 1vh auto;
}

li {
    list-style: none;
}

ul {
    width: 100%;
    padding: 0;
}

table {
    margin: auto;
    border: 5px;
    border-collapse: collapse
}

table, th, td {
    padding: 0.5vh;
     border: 1px solid black;
 }