body {
    background-color: greenyellow;
    text-align: center;
    font-family: serif;
    font-size: large;
    margin: 0;
    padding: 0 2vh 0 2vh;
    min-height: 96vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr auto 2fr 2fr;
}

#introduction {
    grid-column: 1/2;
    grid-row: 2/3;
    height: min-content;
    background-color: gold;
    padding: 2vh;
}

#start {
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    justify-content: center;
}

#start-button {
    height: 50%;
    width: 30%;
}

header {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
}

#timer {
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: large;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-buttons {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cancel-button, #end-button {
    display: none;
}

#quiz {
    grid-column: 1/2;
    grid-row: 3/4;
    font-size: large;
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

#question {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#response {
    grid-column: 1/2;
    grid-row: 2/3;
}

#navigation-buttons {
    grid-column: 1/6;
    grid-row: 4/5;
    display: none;
    align-items: flex-start;
    justify-content: center;
}

.n-button {
    margin: 2vh;
}

@media (max-width: 1200px) {
    #start-button {
        height: 50%;
        width: 50%;
    }

    header {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
    }
}