body {
    font-family: serif;
    text-align: center;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 300px 2fr 1fr 15px;
    grid-template-rows: auto auto 4vh;
    grid-column-gap: 15px;
}

h1{
    background-color: gainsboro;
    font-weight: normal;
}

h2{
    background-color: gainsboro;
    font-weight: normal;
    height: initial;
}

img {
    max-width: 100%;
    height: auto;
}

table, th, td {
    padding: 5px 10px;
    text-align: left;
}

ul {
    text-align: left;
    list-style: none;
}

nav {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding-top: 5vh;
    padding-right: 4vh;
    background-color: rgb(48,48,48);
    display: block;
}

nav ul {
    margin-left: 0;
    padding-left: 2vh;
}

nav li {
    padding-top: 6px;
}

nav a {
    color: silver;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Georgia, "Times New Roman", Times, serif;
}

nav a:visited {
    color: silver;
}

nav a:hover {
    color: whitesmoke;
}

footer {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    background-color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#logo {
    max-width: 70%;
    height: auto;
}

#table {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
}

#tab {
    position: relative;
    width: 100%;
    display: table
}

#tab table {
    width: 90%;
    padding: 1vh;
}

#tab th {
    background-color: rgba(220,220,220, 0.4);
}

#tab td {
    background-color: gainsboro;
}

#third {
    width: 14vh;
    background-color: rosybrown;
    font-size: 13px;
    top: 45%;
    left: 0;
    position: absolute;
}

#delayed\/canceled_flights {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

#delayed\/canceled_flights table {
    width: 100%;
    height: 80%;
}

#delayed\/canceled_flights th {
   background-color: rgba(220,220,220, 0.4);
}

#delayed\/canceled_flights .slightly_delayed {
    background-color: rgba(255, 255, 128, 0.7);
}

#delayed\/canceled_flights .very_delayed {
    background-color: rgba(250, 212, 0, 0.7);
}

#delayed\/canceled_flights .canceled {
    background-color: rgba(250, 20, 0, 0.55);
}

#flight_reservation {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;
}

.group label {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 20%;
}

.group input, .group select {
    box-sizing: border-box;
    width: 50%;
}

.group input[type=reset], .group input[type=submit] {
    width: 25%;
    margin-top: 10px;
}

#flight {
    margin-top: 10px;
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}

#flight h1, #flight h2 {
    width: 30%;
    margin: auto;
}

#fly h1, #fly #p1 {
    margin-bottom: 5px;
}

#fly #p2 {
    margin-top: 5px;
}

#fly figure {
    display: inline-block;
    width: 10%;
    margin: 0.5vh;
    padding: 0 0.5vh 0 0.5vh;
}

#fly figcaption {
    margin-bottom: 5px;
}

#airplane figure {
    margin-top: 7px;
}

#airplane h2, #passenger_list h2 {
    margin-bottom: 7px;
}

#passenger_list ul {
    width: 30%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
}

#passenger_list li:nth-child(even) {
    background-color: lightgray;
}

#passenger_list li:nth-child(odd) {
    background-color: darkgray;
}

#passenger_list .seat {
    display: none;
}

#passenger_list li {
    position: relative;
}

#passenger_list li:hover .seat {
    left: 16ch;
    display: inline;
    position: absolute;
}

#booked {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 90%;
    background-color: dimgray;
    z-index: 1;
}

#booked h1{
    top: 10%;
    position: relative;
}

@media (max-width: 1500px) {
    body {
        grid-template-columns: 10px 3fr 1fr 10px;
        grid-template-rows: auto 1fr 1fr 4vh;
    }

    nav {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
        padding-top: initial;
    }

    #main {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    #table {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    #delayed\/canceled_flights {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    #flight_reservation {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }

    footer {
        grid-column: 1 / 5;
        grid-row: 4 / 5;
    }

    #flight {
        grid-column: 2 / 4;
        grid-row: 1 / 4;
        width: 100%;
    }

    #flight figure {
        display: inline-block;
        width: 40%;
    }

    #flight h1, #flight h2 {
        width: 90%;
    }

    #passenger_list ul {
        width: 90%;
    }
}

@media (max-width: 1000px) {
    body {
        grid-template-columns: 10px 1fr 10px;
        grid-template-rows: auto auto auto auto auto 4vh;
    }

    nav {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        padding-top: initial;
    }

    #main {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    #table {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    #tab table {
        width: 100%;
    }

    #delayed\/canceled_flights {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }

    #delayed\/canceled_flights table {
        height: initial;
        width: 100%;
    }

    #flight_reservation {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }

    footer {
        grid-column: 1 / 4;
        grid-row: 6 / 7;
    }

    #flight {
        grid-column: 2 / 3;
        grid-row: 1 / 6;
        width: 100%;
    }

    #flight figure {
        display: inline-block;
        width: 40%;
    }

    #flight h1, #flight h2 {
        width: 90%;
    }

    #passenger_list ul {
        width: 90%;
    }
}