extends layout

block title
    title= title

block content
    h1(class= "container")= message
    div(class= "main-img container")
        img(src="https://i.redd.it/63hule73jam01.jpg")

    h2(class= "container")= "Meme list"
    ul(id= "memes")
        each meme in memes
            li(class= "container")
                div(class= "meme")
                    a(href="meme/" + meme.id)
                        p=meme.name + " - " + meme.price + "zł"
                        img(src=meme.url)