html
    head
        block title
        style
            include style.css
    body
        div(id= "page-container")
            div(id= "header")
                block button
                    div(id= "login-button")
                        if logged
                            a(href= "/logout" class= "button")= "log out"
                        else
                            a(href= "/login" class= "button")= "log in"

            div(id= "content-wrap")
                block content

            footer= "Created by Maciej Domaradzki"