extends layout.pug

block title
    title= "logging"

block button
    include return-button

block content
    div(id= "login" class= "container")
        form(action= "/checkUser" method= "Post")
            input(type= "text" name= "username" placeholder= "username" required)
            input(type= "password" name= "password" placeholder= "password" required)
            button(type= "submit")= "log in"