extends layout.pug

block title
    title= meme.name

block content
        h1(class= "container")= meme.name
        div(class= "main-img container")
            img(src= meme.url)

        div(id= "prices" class= "container")
            table
                tr
                    th= "Prices:"
                each price in meme.prices
                    tr
                        td= price

        if logged
            div(id = "change-price" class= "container")
                form(method= "Post")
                    input(type= "hidden" name= "_csrf" value= csrfToken)
                    label(for= "price")= "New Price"
                        input(type= "number" min= "0" name= "price" id= "price")
                    button(type= "submit")= "Set"
