body {
    text-align: center;
    font-family: serif;
    margin: 0;
}

img {
    width: 50vh;
    height: auto;
    margin: 5vh;
}

h1, h2 {
    background-color: #76c5e5;
}

.container {
    width: 40%;
    margin: 15px auto;
    border-radius: 10px;
}

.main-img {
    background-color: #41abdc;
}

#prices {
    background-color: #327493;
}

#prices tr {
    text-align: center;
}

#prices th {
    font-size: large;
    font-weight: bolder;
}

#change-price {
    padding: 3vh 0;
    background-color: #225268;
}

#change-price form {
    margin: 0;
}

#change-price input {
    margin: auto 2vh;
}

table, ul {
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding: 0;
}

a {
    font-size: x-large;
    font-weight: bolder;
    text-decoration: none;
}

.meme {
    padding-top: 10px;
}

.meme a {
    height: min-content;
    width: min-content;
    color: #f1e388;
    margin: auto;
}

.meme p {
    margin: 0;
}

#memes {
    list-style: none;
}

#memes > li {
    background-color: #f37fee;
}

#login {
    background-color: #225268;
    padding: 2vh 0;
}

#login input {
    display: block;
    margin: 2vh auto;
}

#page-container {
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content auto min-content;
}

#header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: rgb(220,190,235);
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: right;
}

.button {
    padding: 0 20px;
    margin-right: 2vh;
    color: #ffffff;
    background-color: #7aa8b7;
    border-radius: 15px;
}

#content-wrap {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: rgb(200,210,255);
    padding-bottom: 3vh;
}

footer {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3vh;
    background-color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: center;
}
